body {
  margin: 0px;
  padding: 0;
  font: 14px "Arial, Lucida Grande", Helvetica, sans-serif;
  background-color: #020201;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.controls_region {float: left;margin: 10px;display: contents;height: 50px;background-color: #252525;}

.logo_region {/* float: left; */margin: 0;/* height: 50px; */}

.text_region {/* float: left; *//* margin: 0 0 0 50px; */text-align: center;/* height: 50px; */font-weight: bold;color: #666666;padding: 10px 0 10px 10px;}

.data_region {/* float: left; */margin: 0 0 0 50px;height: min-content;}

.company_name_region {/* float: left; */color: white;}

.doughnut_region {/* float: left; *//* color: white; */width: auto;padding: 0 0 10px 0;background-color: #292929;}

.header_region {/* float: left; *//* border: solid thin lightgray; */margin: 0 0 20px 50px;height: fit-content;/* background-color: #252525; */}

.chart_region {
  margin: 0 20px 20px 0;
  padding: 0 10px 10px 0;
  width: 400px;
  background-color: #292929;
  /* float: left; */
}

.slider_region {
  margin: 0 10px 10px 0;
  /* padding: 10; */
  /* width: 400px; */
  background-color: #292929;
  float: left;
}

.slide_div {
  margin: 0;
  padding: 0 0 0 50px;
  /* width: 400px; */
  /* background-color: #292929; */
  /* float: left; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}