body {
  margin: 0px;
  padding: 0;
  font: 14px "Arial, Lucida Grande", Helvetica, sans-serif;
  background-color: #020201;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.controls_region {float: left;margin: 10px;display: contents;height: 50px;background-color: #252525;}

.logo_region {/* float: left; */margin: 0;/* height: 50px; */}

.text_region {/* float: left; *//* margin: 0 0 0 50px; */text-align: center;/* height: 50px; */font-weight: bold;color: #666666;padding: 10px 0 10px 10px;}

.data_region {/* float: left; */margin: 0 0 0 50px;/* height: 50px; */}

.company_name_region {/* float: left; */color: white;}

.doughnut_region {/* float: left; *//* color: white; */width: auto;padding: 0 0 10px 0;background-color: #292929;}

.header_region {/* float: left; *//* border: solid thin lightgray; */margin: 0 0 20px 50px;height: fit-content;/* background-color: #252525; */}

.chart_region {
  margin: 0 20px 20px 0;
  padding: 0 10px 10px 0;
  width: 400px;
  background-color: #292929;
  float: left;
}

.slider_region {
  margin: 0 10px 10px 0;
  /* padding: 10; */
  /* width: 400px; */
  background-color: #292929;
  float: left;
}

.slide_div {
  margin: 0;
  padding: 0 0 0 50px;
  /* width: 400px; */
  /* background-color: #292929; */
  /* float: left; */
}